## Pakiet pandas_profiling
Pakiet `pandas_profiling`: automatyczne wygenerowanie prostego raportu o charakterystyce zbioru danych--> wczytać zbiór danych za pomocą `pandas`, skorzystać z poleceń: `.profile_report` oraz `.to_file`, aby wygenerować raport (HTML).

Plik `data/bank-balanced.csv` (zmienna y nazywa się 'deposi't); zmienna objaśniana (czy ktoś założył lokate/depozyt) jest mocno niezbalansowana, tzn. proporcja "0" do "1" jest bardzo wysoka.

In [4]:
# Komendy do instalacji pakietu (w wersji dla administratora i dla użytkownika):
# !pip install pandas-profiling[notebook,html]
# !pip install --user pandas-profiling[notebook,html]
# UWAGA:
# Jeśli w wierszu polecen nie uruchomimy srodowiska wirtualnego poleceniem
# activate, to instalujemy bezpośrednio w środowisku pythona i pakiet może być przez to
# niedostepny w jupyter notebook, ponieważ jupyter notebook otwiera się w środowisku 
# wirtualnym.

In [1]:
import pandas as pd # istotna jes wersja pandasa
print(pd.__version__)
import pandas_profiling # istotna wersja pandas_profiling
print(pandas_profiling.__version__)
from pandas_profiling import ProfileReport # najnowsza funkcja do generowania raportu

1.2.4
3.1.0

In [3]:
df = pd.read_csv("data/bank-balanced.csv")
report = df.profile_report()
# report = df.profile_report(html={'style':{'full_width':True}})
report.to_file(output_file="data/report_bank-balanced.html")
df.head()

# Inny sposób:
# profile = ProfileReport(df, title='Pandas Profiling Report')
# profile.to_file("data/report_bank-balanced2.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [6]:
df = pd.read_csv("data/bank-full.csv", sep = ';')
report = df.profile_report()
report.to_file(output_file="data/report_bank-full.html")
df.head()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [7]:
df = pd.read_csv("data/bank-additional-full.csv", sep = ';')
report = df.profile_report()
report.to_file(output_file="data/report_bank-additional-full.html")
df.head()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

## Zbiór danych (regresja)
Zbiorem uzupełniającym, który będziemy wykorzystywali jest Boston Housing. Opisano w nim rynek nieruchomości w Bostonie. Zmienną objaśnianą jest medianowa wartość nieruchomości na danym obszarze. Za zmienne objaśniane służą następujące zmienne:
* CRIM      per capita crime rate by town - przestępczość
* ZN        proportion of residential land zoned for lots over 25,000 sq.ft. - udział terenów z dużą zabudową
* INDUS     proportion of non-retail business acres per town - udział terenów komercyjnych
* CHAS      Charles River dummy variable (= 1 if tract bounds river; 0 otherwise) - odległość od rzeki
* NOX       nitric oxides concentration (parts per 10 million) - jakość powietrza
* RM        average number of rooms per dwelling - średnia liczba pokoi w mieszkaniach/domach
* AGE       proportion of owner-occupied units built prior to 1940 - udział budynków zabytkowych
* DIS       weighted distances to five Boston employment centres - odległość od dzielnic biurowych
* RAD       index of accessibility to radial highways - dostępność dróg o wysokiej przepustowości
* TAX      full-value property-tax rate per \$ 10,000 - stawka podatku od nieruchomości
* PTRATIO  pupil-teacher ratio by town - wskaźnik liczby nauczycieli na ucznia
* B        $1000(Bk - 0.63)^2$ where Bk is the proportion of blacks by town - udział czarnoskórych wśród mieszkańców
* LSTAT    \% lower status of the population - udział mieszkańców o niskim statusie
* MEDV     Median value of owner-occupied homes in $1000's - medianowa wartość

W tym zbiorze nie ma nazw kolumn w pliku z danymi. Trzeba je dodać ręcznie.
Wczytujemy plik CSV, a następnie określamy kolumny.

In [8]:
housing = pd.read_csv("data/housing.csv", sep=",", header=None)
housing.columns = ["CRIM", "ZN", "INDUS", "CHAS", "NOX", "RM", "AGE", "DIS", "RAD", "TAX", "PTRATIO", "B", "LSTAT", "MEDV"]
report = housing.profile_report()
report.to_file(output_file="data/report_housing.html")
housing.head()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2